HW2/hw2.aux
HW2/hw2.fdb_latexmk
HW2/hw2.fls
HW2/hw2.log
HW2/hw2.mat
HW2/hw2.synctex.gz
HW3/hw3.aux
HW3/hw3.fdb_latexmk
HW3/hw3.pdf
HW3/hw3.synctex.gz
HW3/hw3.log
HW3/hw3.fls
HW3/张博文-PB17000215-第三次作业.zip
HW3/.vscode/settings.json
HW4/hw4.aux
HW4/hw4.fdb_latexmk
HW4/hw4.fls
HW4/hw4.log
HW4/hw4.synctex.gz
HW4/hw4.pdf
